* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.containerApp {
  display: grid;
  grid-template-rows: 8vh 92vh;
}

input {
  transition: border-color 0.3s ease-in-out,  box-shadow 0.3s ease-in-out;
  background-color: unset;
  color: unset;
  outline: #007BFF;
}

input:hover, input:focus {
  border-color: #007BFF;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.4);
  transition: all 0.3s ease-in-out;
}